<ion-view title="Assignment 5" id="page1">
    <ion-content padding="true" style="background: url(img/loginpg.jpg) no-repeat center;background-size:cover;" class="has-header">
        <h1 id="assignment5-heading2" style="color:green;text-align:center;">Welcome!!</h1>
        <form id="assignment5-form1" class="list">
            <label class="item item-input" id="assignment5-textarea1">
                <span class="input-label">UserName</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input" id="assignment5-textarea2">
                <span class="input-label">Password</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <div id="assignment5-markdown2" style="color:#000000;"></div>
        <div id="assignment5-markdown3" style="color:#020E0C;text-align:justify;"></div>
        <a ui-sref="appHome" id="assignment5-button1" class="button button-positive  button-block">Login</a>
        <div id="assignment5-markdown6" style="color:#000000;">
            <p style="color:green;">Do not have an account?</p>
        </div>
        <a ui-sref="register" id="assignment5-button2" class="button button-positive  button-block">Register</a>
    </ion-content>
</ion-view>