<ion-view title="Home" id="page3">
    <ion-content padding="true" style="background: url(img/registerpg2.jpg) no-repeat center;background-size:cover;" class="has-header">
        <a ui-sref="joinClass" id="home-button4" class="button button-positive  button-block">enroll in classes of interest</a>
        <a ui-sref="topVideos" id="home-button5" class="button button-positive  button-block">Search top youtube videos</a>
        <a id="home-button6" class="button button-positive  button-block" ng-click="openInAppBrowser()">Open In App Browser</a>
        </ion-content>
</ion-view>