<ion-view title="Login" id="page1">
    <ion-content padding="true" style="background: url(img/registerpg2.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="login-form2" class="list">
            <label class="item item-input" id="login-textarea1">
                <span class="input-label">Enter user name</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input" id="login-textarea2">
                <span class="input-label">Enter password</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <a ui-sref="home" id="login-button1" class="button button-positive  button-block">Login</a>
        <a ui-sref="home" id="login-button3" class="button button-positive  button-block">Login with facebook</a>
        <a ui-sref="signup" id="login-button2" class="button button-positive  button-block">Register</a>
    </ion-content>
</ion-view>